{{> head}}
{{> top}}

<main class="main{{#checkIf @config.custom.layoutMode '==' "flat" }} main--flat{{/checkIf}}">
   <div class="wrapper{{#checkIf @config.custom.listingWidth '==' "full" }} wrapper--full{{/checkIf}}">
      <div class="page{{#checkIf @config.custom.layoutMode '==' "flat" }} page--flat page--flat-no-hero{{/checkIf}} tag">
          <div class="post__inner page__header {{@config.custom.divider}} {{#checkIf @config.custom.dividerAlign '!=' "none" }}divider--center{{/checkIf}} ">
             {{#tag}}                 
                    <h1>{{name}}</h1>
                    {{#if description}}
                       <p>
                          {{description}}
                       </p>
                    {{/if}}
             {{/tag}}
          </div>
          
        {{#checkIf @config.custom.listingModeTagPage '==' "grid" }} 
            <div class="page__grid">
         {{/checkIf}}     
            {{#each posts}}
               <article class="page__item">
                <div class="{{@config.custom.listingAlign}}                                 
                             {{@config.custom.divider}} 
                             {{@config.custom.dividerAlign}}">
                  {{#checkIf @config.custom.listingModeTagPage '==' "grid" }} 
                   {{#checkIf @config.custom.listingFeaturedImage '!=' "none" }} 
                   {{#featuredImage}}
                     {{#if url}}
                        <div class="page__item-image {{#checkIf @config.custom.listingFeaturedImage '==' "wide" }}page__item-image--wide{{/checkIf}}">
                           <a href="{{../url}}" class="page__item-image__wrap page__item-image__wrap--link">
                              <img
                                 src="{{url}}"
                                 {{#if @config.site.responsiveImages}}                           
                                    {{responsiveImageAttributes 'featuredImage' srcset.listing sizes.listing}}
                                 {{/if}}
                                 {{ lazyload "lazy" }}
                                 height="{{height}}"
                                 width="{{width}}"
                                 alt="{{alt}}">
                           </a>   
                        </div>
                     {{/if}}
                    {{/featuredImage}}
                   {{/checkIf}}
                  {{/checkIf}}     

                  <header class="page__item-header">
                     <h2 class="page__item-title">
                        <a href="{{url}}" class="invert">{{title}}</a>
                     </h2>
                     {{#checkIfAny @config.custom.listingAuthor @config.custom.listingDate}}
                        <div class="post__meta">
                           {{#if @config.custom.listingAuthor}}
                              {{#author}}
                                 <a href="{{url}}" class="post__meta-author invert" title="{{name}}">
                                    {{#if avatar}}
                                       <img src="{{avatar}}" {{ lazyload "lazy" }} alt="{{name}}">
                                    {{/if}}
                                    {{ translate 'post.created' }}
                                    {{name}}
                                 </a>
                              {{/author}}
                           {{/if}}
                           {{#if @config.custom.listingDate}}
                              <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}" class="page__item-date">
                                 {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                    {{date createdAt @config.custom.formatDate}}
                                 {{else}}
                                    {{date createdAt @config.custom.formatDateCustom}}
                                 {{/checkIf}}
                              </time>
                           {{/if}}                           
                        </div>
                     {{/checkIfAny}}
                  </header>
                   
                  {{#checkIf @config.custom.listingModeTagPage '!==' "grid" }} 
                  {{#checkIf @config.custom.listingFeaturedImage '!=' "none" }} 
                   {{#featuredImage}}
                     {{#if url}}
                        <div class="page__item-image {{#checkIf @config.custom.listingFeaturedImage '==' "wide" }}page__item-image--wide{{/checkIf}}">
                           <a href="{{../url}}" class="page__item-image__wrap page__item-image__wrap--link">                             
                              <img
                                 src="{{url}}"
                                 {{#if @config.site.responsiveImages}}                           
                                    {{responsiveImageAttributes 'featuredImage' srcset.listing sizes.listing}}
                                 {{/if}}
                                 {{ lazyload "lazy" }}
                                 height="{{height}}"
                                 width="{{width}}"
                                 alt="{{alt}}">
                           </a>
                        </div>
                     {{/if}}
                    {{/featuredImage}}
                   {{/checkIf}}
                   {{/checkIf}}
                   
                  {{#if @config.custom.listingExcerpt}}
                     {{#if hasCustomExcerpt}}
                        {{{ excerpt }}}
                     {{else}}
                        <p>{{{ excerpt }}}</p>
                     {{/if}}
                  {{/if}}
                  {{#if @config.custom.listingReadmore}}
                     <p class="page__item-readmore">
                        <a href="{{url}}" class="btn">{{ translate 'post.readMore' }}</a>
                     </p>
                  {{/if}}
                </div>
               </article>
            {{/each}}
         </div>
      {{#checkIf @config.custom.listingModeTagPage '==' "grid" }}  
          </div>
      {{/checkIf}} 
      {{> pagination}}
   </div>
</main>
{{> bottom-news}}
{{> footer}}
